:root {
  --main-bg-bright-color: #91644f;
  --main-bg-dark-color: #a77259;
  --main-bg-text-blocks:#C3936773;

  --main-buttons-bg-color:#a77259;
  --main-admin-buttons-bg-color:rgba(200, 186, 173, 0.836);


  --main-text-color:#35190d;
  --main-title-text-color:#623B2A;

  --main-border-color:#623B2AE5;

  --green: #86BB71;
  --blue: #94C2ED;
  --orange: #E38968;
  --gray: #92959E;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html{
  width: 100%;
  height: 100%;
}

body{
  background-color: rgb(200 186 173 / 15%);
  font-family: "Roboto", serif;
}

ul{
  text-decoration: none;

  list-style-type: none;
  padding: 0; 
  margin: 0;
}
a {
  text-decoration: none;
}

button{
  border: none;
  background: none;
}


.hidden {
  display: none !important;
}

.info-cards.list-of-cards.hidden{
  display: none;
}

.opacity {
  opacity: 0;
}


video.gif {
  width: 100%;
  border-radius: 30px;
}
.MuiBreadcrumbs-ol{
  width: 100%;
}
ol.MuiBreadcrumbs-ol.css-4pdmu4-MuiBreadcrumbs-ol {
  padding: 10px;
}

.MuiBreadcrumbs-li:last-child {
  flex-grow: 1; /* Растягивает элемент */
  text-align: center; /* Центрирование текста (опционально) */
}

.skeleton-title-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 0;
}


/*Index/Main Page*/



/*Instruction page*/



/*Header*/


.brown-button{
  background-color: var(--main-buttons-bg-color) !important;
  border-radius: 30px !important;
}



.clear-language .bottom-button {
  position: absolute !important;
  bottom: 0;
}

.bottom-button{
  width: max-content;
}

button.return-button, button.back-button, button.search-popup-button{
  background-color: var(--main-buttons-bg-color);
  border-radius: 30px;

  display: flex;
  flex-direction: row;

  /*margin-right: 2vw;*/
}

.search-popup-button div{
  display: flex;
}
button.return-button a, button.return-button div{
  display: flex;
  align-items: center;
}

.return-button img, .back-button img, .search-popup-button img {
  width: 3vw;
  height: 2vw;
}  

.button-title {
  color: rgba(255, 255, 255, 1);
  padding-left: 25px;
  font-family: "Roboto", serif;
  font-size: 1.2vw;

  padding-top: 0;
    padding-bottom: 0;

}


.main-header{
  margin: 0 auto;
  padding: 0;
  /*min-width: 80vw;*/
  max-width: 1500px;
}

.header-list{
  width: 100%;
  display: flex;   

  min-height: 4vw;
  align-items: center;
  border-radius: 30px;
  background: repeating-linear-gradient(10deg, var(--main-bg-dark-color), var(--main-bg-bright-color) 3.5vw);


  order:2;
}


img.arrow{
  z-index: 99;
  height: 3vw;
  width: auto;
}
/*
.breadcrumb-item{
  align-items: center;
  display: flex;
}
*/
.breadcrumb-item {
  border-radius: 20px;
  flex: 1 1 auto; /* Определите гибкость элементов */
  min-width: 0; /* Позволяет тексту переноситься, когда линия полностью заполнена */
  margin-left: 0;
  margin-right: 0;
  height: 100%;
 
  position: relative;
  max-height: 60px;
  
  
}


.breadcrumb-item a {
  line-height: 1.2em;
  font-size: 1.2vw;
  text-size-adjust: auto;
  height: 100%;
  text-decoration: none;
  color: white;
  padding-left: 1vw;
}


.prev-page {
  /* flex: 0 0 auto; */
  width: 100%;
  max-width: max-content;
  text-align: center;
}

.current-page{
  width:inherit;
}
.current-page a {
  
  font-size: 1.5vw; /* Пример размера шрифта */
  text-align: center;
  width: 100%;
}


button.edit-element-button {
  pointer-events: auto;
  position: absolute;
  font-size: 1.5vw;
  color: black;
  background: white;
  border-radius: 50px;
  z-index: 20;
}


/*Services */
h3.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}
span.query-sub-header {
  padding: 0;
  padding-bottom: 10px;
  font-size: 1.8vw;
}


/*Cards*/



/*Gestural*/



/* result page */

video{
  width: 100%;
  display: block;
}

.instr{
  width:70%;
  border-radius: 30px;
  margin-top: 15px;
}

.manual-strp.true-manual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manual-container {
  max-width: 1200px;
  width: 110%;
  position: relative;
}

button.additional-info{
  border-radius: 30px;
  color: #a54a1ccf;
  border: 3px solid var(--main-buttons-bg-color);
  margin-left: auto;
}

.modal-container{
  margin-left: auto;
}

.info-modal.popup{
  border-radius: 40px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  color: #623B2A;
  width: 70%;
  height: 80vh;
  padding-top: 0;
}


span.infoButton-title {
  padding: 10px;
}

.info-modal .info-icon{
  width: 35%;
  height: auto;
}
.info-modal .list-of-cards .info-icon{
  padding-top: 10px;
}


.popup-header {
  display: flex;
  position: sticky;
  top: 0%;
  padding-top: 2vw;
  background: white;
  z-index: 20;
  justify-content: center;
  height: 8vh;

  margin-bottom: 20px;
}
button#closePopup {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px !important;
  padding: 5px;
}

.info-card{
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-border-color);
    border-radius: 20px !important;

    position: relative;
}
.info-card .card-title{
  color:var(--main-title-text-color);
  font-weight: 700;
}

.title.popup-title{
  font-weight:700;
  margin: 0;
}

.manual{
  max-width: 1000px;
  min-width: 70%;

  margin-top: 15px;/*15px*/
  margin-bottom: 32px;

  display: inline-grid;
}
.info-manual{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.info-manual .manual{
  width: 100%;
  max-width: 2000px;
}
.manual-text{

  display: flex;
  background-color: var(--main-bg-text-blocks);
  border-radius: 20px;
  margin-top: 15px;
  max-width: 1000px;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 50px;

  font-size: 24px;
  white-space: break-spaces;
  padding-right: 50px;

  font-family: "Roboto", serif;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;

}

.manual-strp.true-manual.hidden{
  display: none;
}

.card-title{
  font-size: 1.5vw;
  margin-top: 0;
}

.instruct-video{
  width: 70%;
}

.info-button{
  background-color: var(--main-buttons-bg-color);
  border-radius: 30px;
  border: 4px solid var(--main-buttons-bg-color)
}
.info-button{
  width: 45px;
  height: 45px;
}
.res-title {
max-width: 1000px;
    width: 80%;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    background-color: var(--main-bg-dark-color);
    border-radius: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

img.icons {
  max-width: 4vw;
}

.text-icon-block {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
  gap: 10px;
  text-align: left;
}

.popup-content {
  height: inherit;
  display: flex
;
  flex-direction: column;
  justify-content: space-between;
}


/*Gestural modal */
.search-modal{
  border-radius: 40px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  color: #623B2A;
  min-width: 55%;
  min-height: 80vh;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-modal #closePopup{
  right: 15px;
  top: 10px;
}

.search-popup-header, .search-popup-footer{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  
}

.search-popup-header{
  justify-content: center;
}

.search-popup-footer{
  max-height: 5vh;
  justify-content: space-between;
  width: 100%;
}

.search-popup-main{
  flex:1;

  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  gap: 30px;

}

.play-button{
  border: 1px solid rgba(111, 64, 42, 1) !important;
  border-radius: 12px !important;
  height: fit-content;
  background-color: rgba(111, 64, 42, 0.1) !important;
}

.play-button span{
  color:rgba(111, 64, 42, 1);
}

.search-popup-button{

}


.tag-list{

  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background: #C393671A;
  border: 1px solid #623B2A;
  border-radius: 12px;
  gap: 10px;
}

/*Admin buttons*/
.extended-container{
  padding-top: 10px;
  top:2%;

  display: flex;
  justify-content: space-between;
  z-index: 100;
}

button.extended-button{
  background-color: var(--main-admin-buttons-bg-color);
  border: 2px solid #ffffff;
  border-radius: 30px;
}

.extended-container img{
  max-width: 1.4vw;
}

/*Admin card form*/
#card-form .form-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
#card-form img{
  width: 2.3vw;
}

/*Login register*/

button.login-button{
  background-color: var(--main-buttons-bg-color);
}
a.login-link{
  color: var(--main-buttons-bg-color);
  text-decoration-color: var(--main-buttons-bg-color);
  font-weight: bold;
}


/*toggle switch admin buttons*/


.toggleCheckbox {
  display: none;
}

.toggleContainer img {
  width: 1.8vw;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

/*
.toggleContainer img:first-child{
  margin-right: 1vw;
}
.toggleContainer img:second-child{
  margin-right: 1vw;
}*/

.toggleContainer {
  /*margin-top: 10px;*/
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 1px solid #343434;
  border-radius: 30px;
  background: #a77259;
  font-weight: bold;
  color: #343434;
  cursor: pointer;
}

.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 30px;
  /*background: white;*/
  background: rgba(200, 186, 173, 0.836);
  transition: all 0.3s;
}

.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox:checked+.toggleContainer::before {
  left: 50%;
}


/*Admin modal*/
div#card-form-container {
  background: white;
  height: 60vh;
  overflow-y: auto;
  width: 50vw;

  display: flex;
  flex-direction: column;
}

/*Add card button*/
.add-card-like-button{
  position: relative;
  background-color: var(--main-buttons-bg-color) !important;
}

.add-card-info{
  position: relative;
  background-color: #ffffff !important;
  border:1px solid var(--main-border-color);
}

/*
.card-to-add::after{
  content: "+";
  color:white;
  font-size:8rem;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/


form#card-form {
  flex: 1;
  display: flex
;
  flex-direction: column;
}