:root {
  --main-bg-bright-color: #91644f;
  --main-bg-dark-color: #a77259;
  --main-bg-text-blocks:#C3936773;

  --main-buttons-bg-color:#a77259;


  --main-text-color:#35190d;
  --main-title-text-color:#623B2A;


  --green: #86BB71;
  --blue: #94C2ED;
  --orange: #E38968;
  --gray: #92959E;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html{
  width: 100%;
  height: 100%;
}

body{
  background-color: rgb(200 186 173 / 15%);
  font-family: "Roboto", serif;
}

ul{
  text-decoration: none;

  list-style-type: none;
  padding: 0; 
  margin: 0;
}
a {
  text-decoration: none;
}

button{
  border: none;
  background: none;
}


.hidden {
  display: none;
}

.opacity {
  opacity: 0;
}


video.gif {
  width: 100%;
}



/*Index/Main Page*/



/*Instruction page*/



/*Header*/

/*Breadcrumps*/

/*
button.return-button {
  display: flex;
  align-items: center;    
}
button.return-button img {
  margin-right: 0;
  margin-left: 1vw;
}
.back-title{
  padding-right: 20px;
}

button.return-button, button.back-button {
  background-color: var(--main-buttons-bg-color);
  border-radius: 30px;
  margin-right: 2vw;
}
button.back-popup-button{
  margin-right: 0;
}
 
*/
button.return-button, button.back-button {
  background-color: var(--main-buttons-bg-color);
  border-radius: 30px;

  display: flex;
  flex-direction: row;

  /*margin-right: 2vw;*/
}
button.return-button a{
  display: flex;
  align-items: center;
}

.return-button img, .back-button img {
  width: 3vw;
  height: 2vw;
}  

.button-title {
  color: rgba(255, 255, 255, 1);
  padding-left: 25px;
  font-family: "Roboto", serif;
  font-size: 1.2vw;
}


.main-header{
  margin: 0 auto;
  padding: 0;
  max-width: 80vw;
}

.header-list{
  width: 100%;
  display: flex;   

  min-height: 4vw;
  align-items: center;
  border-radius: 30px;
  background: repeating-linear-gradient(10deg, var(--main-bg-dark-color), var(--main-bg-bright-color) 3.5vw);


  order:2;
}


img.arrow{
  z-index: 99;
  height: 3vw;
  width: auto;
}

.breadcrumb-item{
  align-items: center;
  display: flex;
}

.breadcrumb-item {
  border-radius: 20px;
  flex: 1 1 auto; /* Определите гибкость элементов */
  min-width: 0; /* Позволяет тексту переноситься, когда линия полностью заполнена */
  margin-left: 0;
  margin-right: 0;
  height: 100%;
 
  position: relative;
  max-height: 60px;
  
  
}


.breadcrumb-item a {
  line-height: 1.2em;
  font-size: 1.2vw;
  text-size-adjust: auto;
  height: 100%;
  text-decoration: none;
  color: white;
  padding-left: 1vw;
}


.prev-page {
  /* flex: 0 0 auto; */
  width: 100%;
  max-width: max-content;
  text-align: center;
}

.current-page{
  
}
.current-page a {
  
  font-size: 1.5vw; /* Пример размера шрифта */
  text-align: center;
  width: 100%;
}


button.edit-element-button {
  pointer-events: auto;
  position: absolute;
  font-size: 30px;
  color: black;
  background: white;
  border-radius: 50px;
  z-index: 20;
}

/*Searcher */

/*Services Cards*/
/*
.view-choose{
  max-width: 70vw;
  margin: 30px auto;
  padding: 0;
}

.list-of-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 5%;
}

.clear-card {
  height: 100%;
  width: 100%;
  border: 1px solid #623B2AE5;
  border-radius: 20px;
  background: var(--main-buttons-bg-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.clear-card .card-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

*/

/*Gestural cards*/
/*
.gestural-language .card-button {
  width: 100%;
  padding: 0;
  height: auto;
  border: 2px solid #895b3e;
  border-radius: 20px;
  background: var(--main-buttons-bg-color);
  box-shadow: 6px 4px 3px #0000001c;
}

video.gif {
  width: 100%;
}
.video-overlay video.gif {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
}

.video-overlay{
  position: relative;
  border-color: rgba(89, 60, 47, 1);
  margin-bottom: 10px;
  border: 2px solid #623B2A;
  border-radius: 20px;

  width: 100%;
  height: 100%;
  overflow: hidden; 

}

.substrate {
  grid-row: 2;
  margin-top: 20px;
  align-items: center;
  display: flex;
  margin-top: 0;
  padding-bottom: 0.8vw;
}

.substrate .card-title {
  text-align: start;
  color: #FFFFFF;
  font-size: 30px;
  margin: 15px 5px;
  font-weight: 400;
  margin-left: 15px;
  margin-bottom: 0;
  text-wrap: balance;

  margin-top: 0;
}
*/

.clear-card {
  height: 100%;
  width: 100%;
  border: 1px solid #623B2AE5;
  border-radius: 20px;
  background: var(--main-buttons-bg-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}


.clear-card .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap:10px;
}
.clear-card .card-title {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  padding-right: 30px;
  height: 100%;
  width: auto;
  text-wrap: balance;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

.card-footer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 20px;
}

.card-footer img{
  margin-left: auto;
  width: 2vw;
}

.icon-container{
  padding: 10px;
}

.clear-card .count-services {
  color: #FFFFFF;
  margin-bottom: 0;
  font-size: 20px;
}

/*Gestural*/
.gestural-language .card {
  width: 100%;
  padding: 0;
  height: auto;
  border: 2px solid #895b3e;
  border-radius: 20px;
  background: var(--main-buttons-bg-color);
  box-shadow: 6px 4px 3px #0000001c;
}

.card-content button {
  padding: 0;
}

.video-overlay{
  margin-bottom: 10px;
  overflow: hidden; 
}

video.gif{
  border: 2px solid #623B2A;
  border-radius: 20px;
}



.substrate .card-title {
  text-align: start;
  color: #FFFFFF;
  font-size: 30px;
  margin: 15px 5px;
  font-weight: 400;
  margin-left: 15px;
  margin-bottom: 0;
  text-wrap: balance;
  margin-top: 0;
}

.substrate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}

.substrate img{
  padding:20px;
  width: 4vw;
  margin-left: auto;
  min-width: 4vw;
  max-width: 4vw;
}
