:root {
  --main-bg-bright-color: #91644f;
  --main-bg-dark-color: #a77259;
  --main-bg-text-blocks:#C3936773;

  --main-buttons-bg-color:#a77259;


  --main-text-color:#35190d;
  --main-title-text-color:#623B2A;

  --main-border-color:#623B2AE5;

  --green: #86BB71;
  --blue: #94C2ED;
  --orange: #E38968;
  --gray: #92959E;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html{
  width: 100%;
  height: 100%;
}

body{
  background-color: rgb(200 186 173 / 15%);
  font-family: "Roboto", serif;
}

ul{
  text-decoration: none;

  list-style-type: none;
  padding: 0; 
  margin: 0;
}
a {
  text-decoration: none;
}

button{
  border: none;
  background: none;
}


.hidden {
  display: none;
}

.info-cards.list-of-cards.hidden{
  display: none;
}

.opacity {
  opacity: 0;
}


video.gif {
  width: 100%;
  border-radius: 30px;
}
.MuiBreadcrumbs-ol{
  width: 100%;
}
ol.MuiBreadcrumbs-ol.css-4pdmu4-MuiBreadcrumbs-ol {
  padding: 10px;
}

.MuiBreadcrumbs-li:last-child {
  flex-grow: 1; /* Растягивает элемент */
  text-align: center; /* Центрирование текста (опционально) */
}

.skeleton-title-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 0;
}


/*Index/Main Page*/



/*Instruction page*/



/*Header*/

/*Breadcrumps*/

/*
button.return-button {
  display: flex;
  align-items: center;    
}
button.return-button img {
  margin-right: 0;
  margin-left: 1vw;
}
.back-title{
  padding-right: 20px;
}

button.return-button, button.back-button {
  background-color: var(--main-buttons-bg-color);
  border-radius: 30px;
  margin-right: 2vw;
}
button.back-popup-button{
  margin-right: 0;
}
 
*/
button.return-button, button.back-button {
  background-color: var(--main-buttons-bg-color);
  border-radius: 30px;

  display: flex;
  flex-direction: row;

  /*margin-right: 2vw;*/
}
button.return-button a, button.return-button div{
  display: flex;
  align-items: center;
}

.return-button img, .back-button img {
  width: 3vw;
  height: 2vw;
}  

.button-title {
  color: rgba(255, 255, 255, 1);
  padding-left: 25px;
  font-family: "Roboto", serif;
  font-size: 1.2vw;

  padding-top: 0;
    padding-bottom: 0;

}


.main-header{
  margin: 0 auto;
  padding: 0;
  /*min-width: 80vw;*/
  max-width: 1500px;
}

.header-list{
  width: 100%;
  display: flex;   

  min-height: 4vw;
  align-items: center;
  border-radius: 30px;
  background: repeating-linear-gradient(10deg, var(--main-bg-dark-color), var(--main-bg-bright-color) 3.5vw);


  order:2;
}


img.arrow{
  z-index: 99;
  height: 3vw;
  width: auto;
}
/*
.breadcrumb-item{
  align-items: center;
  display: flex;
}
*/
.breadcrumb-item {
  border-radius: 20px;
  flex: 1 1 auto; /* Определите гибкость элементов */
  min-width: 0; /* Позволяет тексту переноситься, когда линия полностью заполнена */
  margin-left: 0;
  margin-right: 0;
  height: 100%;
 
  position: relative;
  max-height: 60px;
  
  
}


.breadcrumb-item a {
  line-height: 1.2em;
  font-size: 1.2vw;
  text-size-adjust: auto;
  height: 100%;
  text-decoration: none;
  color: white;
  padding-left: 1vw;
}


.prev-page {
  /* flex: 0 0 auto; */
  width: 100%;
  max-width: max-content;
  text-align: center;
}

.current-page{
  
}
.current-page a {
  
  font-size: 1.5vw; /* Пример размера шрифта */
  text-align: center;
  width: 100%;
}


button.edit-element-button {
  pointer-events: auto;
  position: absolute;
  font-size: 1.5vw;
  color: black;
  background: white;
  border-radius: 50px;
  z-index: 20;
}

/*Searcher */

/*Services Cards*/



/*Gestural*/



/* result page */

video{
  width: 100%;
  display: block;
}

.instr{
  width:70%;
  border-radius: 30px;
  margin-top: 15px;
}

.manual-strp.true-manual {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manual-container {
  max-width: 1200px;
  width: 110%;
  position: relative;
}

button.additional-info{
  border-radius: 30px;
  color: #a54a1ccf;
  border: 3px solid var(--main-buttons-bg-color);
  margin-left: auto;
}

.modal-container{
  margin-left: auto;
}

.info-modal.popup{
  border-radius: 40px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  color: #623B2A;
  width: 70%;
  height: 60vh;
  padding-top: 0;
}


span.infoButton-title {
  padding: 10px;
}

.info-modal img{
  width: 35%;
  height: auto;
}
.info-modal .list-of-cards img{
  padding-top: 10px;
}


.popup-header {
  display: flex;
  position: sticky;
  top: 0%;
  padding-top: 2vw;
  background: white;
  z-index: 20;
  justify-content: center;
  height: 8vh;

  margin-bottom: 20px;
}
button#closePopup {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px !important;
  padding: 5px;
}

.info-card{
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-border-color);
    border-radius: 20px !important;
}
.info-card .card-title{
  color:var(--main-title-text-color);
  font-weight: 700;
}

.title.popup-title{
  font-weight:700;
  margin: 0;
}

.manual{
  max-width: 1000px;
  min-width: 70%;

  margin-top: 15px;/*15px*/
  margin-bottom: 32px;

  display: inline-grid;
}
.manual-text{

  display: flex;
  background-color: var(--main-bg-text-blocks);
  border-radius: 20px;
  margin-top: 15px;
  max-width: 1000px;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 50px;

  font-size: 24px;
  white-space: break-spaces;
  padding-right: 50px;

  font-family: "Roboto", serif;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;

}

.manual-strp.true-manual.hidden{
  display: none;
}

.card-title{
  font-size: 1.5vw;
  margin-top: 0;
}

.instruct-video{
  width: 70%;
}

.info-button{
  background-color: var(--main-buttons-bg-color);
  border-radius: 30px;
  border: 4px solid var(--main-buttons-bg-color)
}
.info-button{
  width: 45px;
  height: 45px;
}
.res-title {
max-width: 1000px;
    width: 80%;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    background-color: var(--main-bg-dark-color);
    border-radius: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

img.icons {
  max-width: 4vw;
}

.text-icon-block {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 10px;
  gap: 10px;
  text-align: left;
}
